/*                 @Godlonx
/.github/         @MaxenceMahieux
/doc/             @EtienneLm
/example/rust     @MaxenceMahieux
/example/python     @Godlonx
/sdk/             @EtienneLm
/simeis-data/     @Godlonx
/simeis-server/   @MaxenceMahieux
/tests/           @Godlonx